.blurb{
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15vh;
  background-color: rgba(0,0,0,0);
  z-index: 10;
}

.blurb p {
  background-color: rgba(0,0,0,.7);
  margin:4rem auto;
  text-align: center;
  line-height: 5vw;
  width:90%;
  white-space: pre-wrap;
  color: white;
  font-size: 3.5vw;
  z-index: 20;
}

.blurb div {
}
