.blurb{
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25vw;
  background-color: rgba(0,0,0,0);
  z-index: 10;
}

.blurb div {
  margin: 1rem;
}

.blurb p {
  font-family: 'Lato', sans-serif;
  background-color: rgba(0,0,0,.7);
  margin:2rem auto;
  text-align: center;
  line-height: 5.5vw;
  white-space: pre-wrap;
  color: rgb(125,240,251);
  font-size: 4vw;
  z-index: 20;
}

@media screen and (min-width: 768px){
  .blurb{
    top:17vw;
    width: 80%;
    flex-direction: row;
  }

  .blurb p {
    font-size: 2vw;
    line-height: 3.5vw;
  }
}

@media screen and (min-width: 1200px){
  .blurb{
    top:14vw;
    width: 60%;
    flex-direction: row;
  }

  .blurb p {
    font-size: 1.5vw;
    line-height: 3.5vw;
  }
}
