.main{
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  align-items: center;
}

.main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main section h2 {
  margin-top: 5rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: rgb(125,240,251);
  font-size: 6vw;
}

.main section h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: rgb(125,240,251);
  font-size: 4vw;
  margin-bottom: 1rem;
}

.main section h4 {
  text-align: center;
  font-variant: small-caps;
  font-family: 'Lato', sans-serif;
  color: rgb(125,240,251);
  font-size: 3vw;
  padding-bottom: 1rem;
}

.main a {
  margin: 1rem;
  transition: all .2s ease-in-out;
}

.main a:hover {
  box-shadow: 0px 0px 8px 4px white;
  transform: scale(1.1);
}

.road {
  position: relative;
  top:0;left:-2px;
  height: 25vw; width: 25vw;
  background-color: #151919;
  border-left: 2px solid darkgrey;
  border-right: 2px solid darkgrey;
  z-index: 10;
}

#car {
  background-image: url('../public/images/project-images/CAR.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin: 7vw 0 0 5vw;
  height: 13vw; width: 7vw;
  -webkit-animation: move_car 2s infinite;
       -moz-animation: move_car 2s infinite;
         -o-animation: move_car 2s infinite;
            animation: move_car 2s infinite;
  z-index: 22;
}

@keyframes move_car {
  0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
  50% {
        transform: translate3d(12vw, 0px, 0px);
        animation-timing-function: ease-out;
      }
  100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}

.line, .line3 {
  position: absolute;
  height: 4vw;
  width: 1vw;
  left: 66%;
  top: 0px;
  background-color: white;
  z-index: 21;
}

.line2, .line4 {
  position: absolute;
  height: 4vw;
  width: 1vw;
  left: 33%;
  top: 0px;
  background-color: white;
  z-index: 21;
}

.line, .line2{
  -webkit-animation: move_lines .8s infinite;
       -moz-animation: move_lines .8s infinite;
         -o-animation: move_lines .8s infinite;
            animation: move_lines .8s infinite;
}

.line3, .line4{
  -webkit-animation: move_lines .8s infinite;
       -moz-animation: move_lines .8s infinite;
         -o-animation: move_lines .8s infinite;
            animation: move_lines .8s infinite;
  -webkit-animation-delay: .37s;
          animation-delay: .37s;
}

@keyframes move_lines {
  0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
  50% {
        transform: translate3d(0px, 12.5vw, 0px);
        animation-timing-function: ease-out;
      }
  100% {
        transform: translate3d(0px, 21vw, 0px);
        animation-timing-function: ease-out;
    }
}

.main section p {
  text-align: center;
  width: 80%;
  margin: .5rem auto;
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
  color: rgb(165, 156, 255)
}

@media screen and (min-width:768px){
  .main {
    padding-top: 15rem;
    width: 80%;
    max-width: 1000px;
  }

  .main section p {
    font-size: 20px;
    width: 90%;
  }

  .main section h2 {
    font-size: 30px;
    margin-top: 8rem;
  }

  .main section h3 {
    font-size: 25px;
  }

  .main section h4 {
    font-size: 25px;
  }

  .line, .line2, .line3,.line4 {
  }
}

@media screen and (min-width:900px){
  .main section a {
    margin: 1rem;
    width: 12rem;
    height: 12rem;
    transition: all .2s ease-in-out;
  }

  .main section p {
    width: 60%;
  }

  .road {
    width: 12rem;
    height:12rem;
  }

  .line, .line3 {
    position: absolute;
    height: 2rem;
    width: .5rem;
  }

  .line2, .line4 {
    position: absolute;
    height: 2rem;
    width: .5rem;
  }

  #car {
    margin: 3rem 0 0 1rem;
    height: 6rem; width: 2.5;
  }

  @keyframes move_lines {
    0% {
          transform: translate3d(0px, 0px, 0px);
          animation-timing-function: ease-in;
      }
    50% {
          transform: translate3d(0px, 75px, 0px);
          animation-timing-function: ease-out;
        }
    100% {
          transform: translate3d(0px, 150px, 0px);
          animation-timing-function: ease-out;
      }
  }

  @keyframes move_car {
    0% {
          transform: translate3d(0px, 0px, 0px);
          animation-timing-function: ease-in;
      }
      25% {
            transform: translate3d(50px, 0px, 0px);
            animation-timing-function: ease-in;
        }
    50% {
          transform: translate3d(100px, 0px, 0px);
          animation-timing-function: ease-out;
        }
        75% {
              transform: translate3d(60px, 0px, 0px);
              animation-timing-function: ease-in;
          }
    100% {
          transform: translate3d(0px, 0px, 0px);
          animation-timing-function: ease-in;
      }
  }

  .line, .line2{
    -webkit-animation: move_lines .78s infinite;
         -moz-animation: move_lines .78s infinite;
           -o-animation: move_lines .78s infinite;
              animation: move_lines .78s infinite;
  }

  .line3, .line4{
    -webkit-animation: move_lines .78s infinite;
         -moz-animation: move_lines .78s infinite;
           -o-animation: move_lines .78s infinite;
              animation: move_lines .78s infinite;
    -webkit-animation-delay: .37s;
            animation-delay: .37s;
          }
}

@media screen and (min-width:1200px){
  .main{
    padding-top: 20rem;
    width: 1000px;
  }
}
