.resumeNav{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 11rem; left:2vw;
  display: flex;
  flex-direction: column;
}

.resumeNav li {
  padding :1rem 0;
}

.resumeNav a{
  color: rgb(125,240,251);
  font-size: 7vw;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  transition: all .2s ease-in-out;
  padding: .75rem 0;
}

#navButton{
  color: rgb(125,240,251);
  position: fixed;
  top: 8rem; left:2vw;
  font-family: 'Bebas Neue', sans-serif;
  border: none;
  text-align: left;
  font-size: 6vw;
  border-bottom:1px solid rgb(125,240,251);
  background-color: rgba(0,0,0,.5);
  transition: all .2s ease-in-out;
  padding: .5rem 0;
}

.resumeNav a:hover, .resumeNav button:hover{
  color: rgb(165, 156, 255);
  transform: scale(1.1);
}

.anchor {
  visibility: hidden;
  padding-top: 10rem;
}

.main {
  padding-bottom: 50vh;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.main h1 {
  padding-top: 3rem;
}

.main h2 {
  background-color: rgba(0,0,0,.7);
  margin: .5rem auto;
  font-size: 5vw;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: rgb(125,240,251);
  padding: 0;
}

.main h3 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: left;
  color: rgb(125,240,251);
  font-size: 4vw;
  margin: .5rem auto;
}

.main p {
  background-color: rgba(0,0,0,.7);
  margin: 2rem auto;
  margin-top: 1rem;
  white-space: pre-wrap;
  font-size: 4vw;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: rgb(165, 156, 255);
}

.skillContainer{
  padding-top: 5vh;
  padding-bottom: 10vh;
  margin:auto;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.skillContainer div {
  background-color: rgba(0,0,0,.7);
  text-align: left;
  padding-left: 2rem;
  color: rgb(165, 156, 255);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6vw;
}

.main h4 {
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgba(0,0,0,.7);
  margin: .5rem auto;
  text-align: left;
  font-size: 9vw;
  font-variant: small-caps;
  color: rgb(125,240,251);
  text-shadow: rgb(0,0,0) 0px 0px 10px;
  text-shadow: rgb(125,240,251) 0px 0px 15px;
  text-shadow: rgb(97,194,233) 0px 0px 20px;
}

@media screen and (min-width: 500px){
  #navButton{
    top:25vw;
  }
  .resumeNav {
    top: 38vw;
  }
}

@media screen and (min-width:768px){
  .main {
    width: 80%;
  }

  .main h2 {
    font-size: 3.5vw;
    padding-top: 2rem;
  }
  .main h3 {
    font-size: 3vw;
  }
  .main p {
    font-size: 2vw;
  }

  .skillContainer{
    grid-template-columns: repeat(2, 1fr);
  }
  .skillContainer div {
    font-size: 2.5vw;
  }

  #navButton{
    top:12rem;
    font-size: 3vw;
  }

  .resumeNav {
    top: 16rem;
  }

  .resumeNav a{
    font-size: 3vw;
  }

}

@media screen and (min-width:1000px) {

  .main {
    padding-top: 5rem;
    width: 900px;
  }

  #navButton{
    top:15rem;
    font-size: 2.25vw;
  }

  .resumeNav {
    top: 20rem;
  }

  .resumeNav a{
    font-size: 2.25vw;
  }

  .anchor {
    padding-top: 14rem;
  }


  .skillContainer div {
    font-size: 2rem;
  }

  .main h4 {
    font-size: 6.25rem;
  }
  .main h2 {
    font-size: 2.25rem;
    padding-top: 2rem;
  }
  .main h3 {
    font-size: 1.5rem;
    font-style: italic;
  }
  .main p {
    font-size: 1.25rem;
  }




}

@media screen and (min-width:1570px) {
  .main{
    padding-top: 5rem;
  }

  #navButton{
    top:18rem;
    font-size: 2.5vw;
  }

  .resumeNav {
    top: 23rem;
  }
}
